:root {
  --spacing-md: 1rem;
}

a {
  color: inherit;
}

body {
  color: #231f20;
  font-family: system-ui;
}

iframe {
  width: 100%;
  border: 0;
  border-inline-start: 1px solid grey;
  background-color: #525659;
}

input[type="date"] {
  width: 13ch;
}

input[type="month"] {
  width: 15ch;
}

select {
  height: 30px;
}

table {
  border-collapse: collapse;
  margin-block-start: 1rem;
}

table button {
  margin-inline-start: 0.5rem;
}

section + section {
  margin-block-start: 56px;
}

.container {
  padding: var(--spacing-md);
}

.filter-bar {
  display: flex;
  gap: 0.5rem;
}

.filter-bar a {
  text-decoration: none;
  align-self: center;
}

.negative {
  color: #231f20;
}

.number-field {
  text-align: right;
  width: 8ch;
}

.number-field.vat-field {
  width: 3ch;
}

.positive {
  color: #3db876;
}

.two-panes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.two-panes > * {
  height: 100vh;
  overflow-y: auto;
}

.invoice-grid {
  display: grid;
  grid-template-columns: minmax(auto, 300px) 130px 130px 90px 40px 60px 75px;
  margin-block: 8px;
}

.invoice-grid__header,
.invoice-grid__body {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
}

.invoice-grid__header {
  font-weight: 700;
  padding-block-end: 4px;
}

.invoice-grid__cell {
  padding-block: 8px;
  padding-inline: 2px;
  display: flex;
  align-items: center;
}

.invoice-grid__cell > button + button {
  margin-inline-start: 4px;
}

.invoice-grid__cell > * {
  height: 34px;
}

.invoice-grid__cell > button {
  width: 32px;
  padding-inline: 0;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid darkgray;
}

.invoice-grid__cell.is-even {
  background-color: #e0e8eb;
}

.header--align-end,
.cell--align-end {
  display: flex;
  justify-content: flex-end;
}

.invoice-view-link {
  display: none;
}